
{% load static %}



body{

    padding:0;
    margin:0;
    background-color:floralwhite;

}



.slider-frame{

        overflow:hidden;
        height:800px;
        width:1200px;
        margin-left:360px;
        margin-top:20px;

}



@-webkit-keyframes slide_animation{

        0%{left:0px;}
        10%{left:0px;}
        20%{left:1200px;}
        30%{left:1200px;}
        40%{left:2400px;}
        50%{left:2400px;}
        60%{left:1200px;}
        70%{left:1200px;}
        80%{left:0px;}
        90%{left:0px;}
        100%{left:0px;}

}

.slide-images{

        width:3600px;
        height:800px;
        margin:0 0 0 -2400px;
        position:relative;
        -webkit-animation-name:slide_animation;
        -webkit-animation-duration:33s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-direction:alternate;
        -webkit-animation-play-state:running;

}


.img-container{
        height:200px;
        width:800px;
        position:relative;
        float;left;

}


.nav-link{color:black}

.nav-link:hover
{color:black;
color:yellow;
font-weight:bold;
background-color:red;
border-radius:10px;
}

.transparentbox{
width:1600px;
height:700px;
background-color:lightgrey;
border:1px solid #CD853F;
opacity:0.6;

}

.transparentbox p{
margin-top: 10%;
font-weight:bold;
font-size:60px;
font-family:'Monotype Corsiva';
color:DarkRed;
text-align:center
}

.halfcircle{

height:75px;
width:150px;
border-radius:90px 90px 0 0;
margin:0px;
background-color:pink;
}


.halfcircleBottom{

height:75px;
width:150px;
border-radius:0px 0px 90px 90px;
margin:0px;
background-color:orange;
}

.box1 p{
font-weight:bold;
font-size:20px;
color:white;
font-family:"Monotype corsiva";
text-align:center
}