{% extends 'navigation.html'%}
{% load static %}
{% block body %}


<div style="background-color:green;width:100%;height:100px">

    <h2 class="text-white container pt-4">About Us</h2>

</div>

<div class="container">

    <img src="{% static 'images/about-us.jpg'%}" style="width:100%;height:300px">
    <h4> About Us</h4>
    <hr>

    <p>HELLO FRIENDS,<br>
    THIS IS A SIMPLE STUDY NOTES SHARING WEBSITE DEVELOPED BY <b>ROHIT VISHWAKARMA</b>
    USING PYTHON DJANGO,HTML,CSS,BOOTSTRAP AND SQLITE.

</p>
</div>
<br>
<br>
{% endblock %}