{% extends 'usernavigation.html'%}

{% load static %}

{% block body %}


{% ifequal error "no" %}                               <!--To show the successful message after change password-->

<script>
    alert('Password Changed Successfully');
    window.location=('{% url 'logout' %}');             <!--After changed password user will logout auto-->


</script>

{% endifequal %}

{% ifequal error "yes" %}
<script>

    alert('Invalid Login Credentials,Try Again');

</script>

{% endifequal %}



<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">

            <img src="{% static 'images/best.png'%}" style="width:90% ; height:400px">

        </div>



        <div class="col-sm-6">

            <h2 class="text-center">CHANGE PASSWORD</h2>



            <hr>

            <form method="post">


                    {% csrf_token %}

                    <label> Old Password</label>
                    <input type="password" class="form-control" placeholder="Enter Old Password" name="old"  >


                    <label>New Password</label>
                    <input type="password" class="form-control" placeholder=" Enter New Password" name="new" >

                    <label>Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Enter Confirm Password" name="confirm" >




                <input type="submit" class="btn btn-danger mt-2" value="Submit">

                </form>
        </div>



    </div>

</div>














{% endblock %}







