{% extends 'navigation.html'%}
{% load static %}
{% block body %}


<div style="background-color:green;width:100%;height:100px">

    <h2 class="text-white container pt-4">Contact Us</h2>

</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60306.688218936084!2d72.82988046909824!3d19.144121449836756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b65081d27f11%3A0xa3ddbac169463ee3!2sGoregaon%20West%2C%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1627473014692!5m2!1sen!2sin" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>


        <div class="col-sm-6 ">
            <p><i class="fas fa-envelope"></i> Email id: rv7400289@gmail.com</p>

            <p><i class="fas fa-phone-square"></i> Mobile no:7400546564</p>


            <p><i class="fas fa-address-card"></i> Address: Goregoan west Mumbai Maharashtra</p>

            <p> Follow us :</p>
            <a href="#"><i class="fab fa-facebook-f"></i></a>

            <a href="#"><i class="fab fa-twitter pl-2"></i></a>

            <a href="#"><i class="fab fa-telegram-plane pl-2"></i></a>









        </div>



    </div>



</div>
<br>
<br>
{% endblock %}