{% extends 'navigation.html'%}
{% block body %}
{% load static %}


{% ifequal error "no" %}                               <!--To show the successful message after login-->

<script>
    alert('Logged in Successfully');
    window.location=('{% url 'profile' %}');


</script>

{% endifequal %}

{% ifequal error "yes" %}
<script>

    alert('Invalid Login Credentials,Try Again');

</script>

{% endifequal %}


<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">

            <h2 class="text-center">New Customer</h2>
            <hr>
            <p>By Creating an account with our website , u will able to move through the uploading and downloading process</p>

       <center><a href="{% url 'signup'%}" class="btn btn-danger text-white mt-5">CREATE ALL ACCOUNT</a></center>
        </div>



        <div class="col-sm-6">

            <h2 class="text-center">User Login</h2>



            <hr>

            <form method="post">


                    {% csrf_token %}

                    <label> Email Address</label>
                    <input type="email" class="form-control" placeholder="Enter Email ID" name="emailid"  >


                    <label> Password</label>
                    <input type="password" class="form-control" placeholder="Enter Password" name="pwd" >

                <input type="submit" class="btn btn-danger mt-2" value="Login">

                </form>
        </div>



    </div>

</div>

{% endblock%}