{% extends 'usernavigation.html'%}

{% load static %}

{% block body %}

<div class="container">

    <h2 class="text-center">PROFILE</h2>

    <hr>

    <div class="row">

        <div class="col-md-6">
            <b>FULL NAME</b>
        </div>

         <div class="col-md-6" style="text-transform: capitalize">

             {{data.user.first_name}} {{data.user.last_name}}

        </div>


    </div>

    <hr>


     <div class="row">

        <div class="col-md-6">
            <b>EMAIL ID</b>
        </div>

         <div class="col-md-6">

             {{data.user.username}}

        </div>


    </div>


    <hr>



     <div class="row">

        <div class="col-md-6">
            <b>CONTACT</b>
        </div>

         <div class="col-md-6">

             {{data.contact}}

        </div>

     </div>


    <hr>


    <div class="row">

        <div class="col-md-6">
            <b>BRANCH</b>
        </div>

         <div class="col-md-6">

             {{data.branch}}

        </div>

     </div>

<br>

    <a href="{% url 'edit_profile' %}" class="btn btn-primary ">Edit Profile</a>







</div>









{% endblock %}