{% extends 'navigation.html'%}
{% block body %}
{% load static %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">

            <h2 class="text-center">Existing Customer</h2>
            <hr>
            <p>By Creating an account with our website , u will able to move through the uploading and downloading process</p>

       <center><a href="{% url 'login'%}" class="btn btn-danger text-white mt-5">CREATE ALL ACCOUNT</a></center>
        </div>



        <div class="col-sm-6">

            <h2 class="text-center">Register with Us </h2>



            <hr>

            <p>If you have not an account with us,please signup.... </p>

            <form method="post">


                    {% csrf_token %}

                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="Enter First Name" name="firstName"  >


                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Enter Last Name" name="lastName" >



                    <label>Contact</label>
                    <input type="number" class="form-control" placeholder="Enter Contact No" name="Contact" >




                    <label>Email Id</label>
                    <input type="email" class="form-control" placeholder="Enter Email ID" name="emailid" >



                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Enter Password" name="password" >


                    <label>Branch</label>
                   <select class="form-control" name="branch">

                       <option value="Computer Science">Computer Science</option>
                        <option value="Information Technology">Information Technology</option>
                        <option value="Commerce">Commerce</option>
                        <option value="Arts">Arts</option>
                        <option value="Business">Business</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Medical Science">Medical Science</option>
                   </select>


                    <label>Are You?</label>


                    <select class="form-control" name="role">

                       <option value="Teacher">Teacher</option>
                        <option value="Student">Student</option>


                   </select>









                <input type="submit" class="btn btn-danger mt-2" value="Submit">

                </form>
        </div>



    </div>

</div>




{% ifequal error "no" %}                               <!--To show the successful message after signup-->

<script>
    alert('Signup Successful');
    window.location=('{% url 'login' %}');


</script>

{% endifequal %}

{% ifequal error "yes" %}
<script>

    alert('Something went wrong,Try Again');

</script>

{% endifequal %}









{% endblock%}